page-question {

}
.space {
		margin-top   :15px;
    margin-bottom:15px;
}

.formspace {
		margin-top   :30px;
    margin-bottom:30px;
}

.inputtransparent {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(white, 0.3);
	color: dark; 
}
.inputred {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(red, 0.5);
	color: dark; 
}
.inputgreen {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(springgreen, 0.5);
	color: dark; 
}