.space {
		margin-top   :15px;
    margin-bottom:15px;
}

.littlespace {
		margin-top   :12px;
    margin-bottom:12px;
}

.downspace {
    margin-bottom:30px;
}

.formspace {
		margin-top   :30px;
    margin-bottom:30px;
}

.inputtransparent {
	border: none;
	background-color: $light-blue-grey-color;
	color: dark; 
	border-radius: 5px;
}
.inputred {
	color: darkred;
	border: none;
	background-color: #F44336;
	color: dark; 
	border-radius: 5px;
}
.inputgreen {
	color: green;
	border: none;
	background-color: lightgreen;
	color: dark; 
	border-radius: 5px;
}
.textred {
	color: darkred !important;
}
.textgreen {
	color: green !important;
}