.space {
	margin-top   :30px;
    margin-bottom:30px;
}

.spacebis {
	margin-top   :60px;
}

.bigbutton {
    height: 150px;
    align-content: center
}

.bigcardbutton {
    font-weight: 500;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
    // box-shadow: none;
}

.bigtoolbar {
    height: 150px !important;
}

.toolbar-background {
    background: url(../assets/menu.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cntr {
    align-content: center;
}

.bigbigicon {
    color: orange;
    font-size: 30px;
}

.bigicon {
    color: orange;
    font-size: 20px;
}