.page-quiz {

}
.space {
		margin-top   :20px;
    margin-bottom:20px;
}

.back {
    background: url(../assets/back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}