page-result {

}

.itemtransparent {
	border-color: $divider-color;
	background-color: $light-blue-grey-color;
	color: dark; 
}

.headertransparent {
	border: none;
	background-color: $primary-color-light;
	color: dark; 
	margin-top: 4px !important;
	margin-bottom: 2px !important;
}