page-result {

}

.itemtransparent {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(white, 0.3);
	color: dark; 
}

.headertransparent {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(white, 0.4);
	color: dark; 
}