<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Hiragana</ion-title>
    <ion-buttons end>
      <button ion-button (click)="openOptions($event)">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid>
    <ion-row class="ion-row-nopadding" *ngFor="let n of cols">
      <ion-col class="ion-col-nopadding" *ngFor="let m of rows" style="text-align:center">
        <div *ngIf="(m+n) <  hiraganaTab.length">
          <ion-card *ngIf="isOk(hiraganaTab[m+n].romanji)" [ngClass]="hiraganaTab[m+n].hiraganaIsLearned ? 'ion-card-active' : 'ion-card-inactive'" (tap)="onToggleState(m+n)">
            <ion-label>
              <font size="6">{{hiraganaTab[m+n].hiragana}}</font>
            </ion-label>
            <ion-label>
              {{hiraganaTab[m+n].romanji}}
            </ion-label>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
