page-hiragana {

    .ion-row-nopadding{
    padding: 0;
    }
    .ion-col-nopadding{
    padding: 2px;
    }

    .ion-card-active{
        background-color: lightgreen;
        margin: 0 !important;
        width: 100%;
        box-shadow: none;
    };

    .ion-card-inactive{
        background-color: $light-blue-grey-color;
        margin: 0 !important;
        width: 100%;
        box-shadow: none;
    };
}