<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Hiragana</ion-title>
    <ion-buttons end>
      <button ion-button (click)="openOptions($event)">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-row *ngFor="let n of cols">
    <ion-col class="col" *ngFor="let m of rows" style="text-align:center">
      <div *ngIf="(m+n) <  hiraganaTab.length" (tap)="onToggleState(m+n)">
        <ion-label [color]="hiraganaTab[m+n].hiraganaIsLearned ? 'secondary' : 'dark'">
          <font size="6">{{hiraganaTab[m+n].hiragana}}</font>
        </ion-label>
        <ion-label [color]="hiraganaTab[m+n].hiraganaIsLearned ? 'secondary' : 'dark'">
          {{hiraganaTab[m+n].romanji}}
        </ion-label>
      </div>
    </ion-col>
  </ion-row>

</ion-content>
