// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$primary-color-dark:   #F57C00;
$primary-color:        #FF9800;
$primary-color-light:  #FFE0B2;
$primary-color-text:   #212121;
$blue-grey-color:      #607D8B;
$dark-blue-grey-color: #455A64;
$semi-light-blue-grey-color: #CFD8DC;
$light-blue-grey-color: #ebf5fa;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$text-color:        $primary-text-color;
$background-color:  white;
$list-md-border-color:	$semi-light-blue-grey-color;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #212121,
  favorite:   #69BB7B,
  orange:     $primary-color,
  bluegrey:   $dark-blue-grey-color,
  bluegrey2:  $blue-grey-color,
  bluegrey3:  $semi-light-blue-grey-color,

);


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
